
.mainpage-container{
    text-align: center;
    width: 100%;
    height: 100%;
}

.mainpage-header {
    background-color: rgb(24, 62, 94);
    height: 8vh;
    padding: 2vh 0;
    color: white;
}

.mainpage-title {
    font-family: Montserrat, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
  
}

.mainpage-description{
    font-family: Montserrat, sans-serif;
    font-size: 1 em;
    font-weight: 400;
    text-align: center;
}

