table,th, td{
    border: 1px solid black;
}

.error-text, .loading-text, .header-cell, .repo-cell, .buttons, .indexes{
    font-family: Monserrat, sans-serif;
}

.repos-main-container{
    width: 100%;
    height: 90vh;
}

.table-container{
    width:90%;
    margin: 0 auto;
    border-radius: 8px;
    border: 3px solid black;
}

.error-text, .loading-text{
    color: grey;
    font-weight: 200;
    font-size: 1.2em;
    margin-top: 0;
}

.header-cell{
    font-size: 1.2em;
    padding: 5px 10px;
    font-weight: 600;
}

.repo-cell{
    padding: 5px;
    margin: 0 auto;
    font-weight: 300;
}

.repo-cell-icon{
    margin: 0 auto;
}

.repo-cell-name{
    width: 250px;
}

.repo-cell-stats{
    width: 7%;
}

.repo-cell-description{
    text-align: left;
    padding-left: 10px;
}

.repo-cell-name, .repo-cell-url, .repo-cell-stats, .indexes{
    text-align: center;
}

.main-buttons-container{
    display: flex;
    width:50%;
    margin: 10px auto;
}

.buttons{
    display: inline-block;
    flex-basis: 20%;
    height: 50px;
    color: #FFF;
    border-radius: 10px;
    background-color: rgb(31, 31, 121);
    font-size: 1.3em;
    font-weight: 400;
}

.indexes{
    display: inline-block;
    width: 60%;
    margin: 10px auto;
    font-size: 1.3em;
    font-weight: 500;
}